.steps__inner {
    @extend %content-centering;
    padding: 50px 120px 170px 80px;
}

.steps__items {
    margin-top: 141px;
    height: 450px;
    line-height: 1.44;
    display: grid;
    grid-template-areas: 'one three three'
    'two two four';
    row-gap: 56px;
}

.steps__item {
    height: 190px;
    width: 340px;
}

.steps__subtitle {
    padding-bottom: 14px;
}

.steps__text-box {
    padding-left: 38px;
}

.steps__call-btn {
    margin-top: 27px;
}

.steps__item_one {
    grid-area: one;
    background: no-repeat url('imgs/numberOne.png') 0 10px;
}

.steps__item_two {
    justify-self: end;
    grid-area: two;
    background: no-repeat url('imgs/numberTwo.png') 0 10px;
}

.steps__item_three {
    align-self: center;
    grid-area: three;
    background: no-repeat url('imgs/numberThree.png') 0 10px;
}

.steps__item_four {
    justify-self: end;
    grid-area: four;
    background: no-repeat url('imgs/numberFour.png') 0 10px;
}



